# Entornos Virtuales
.venv/
venv/
env/

# Archivo de variables de entorno (¡NUNCA SUBIR ESTO!)
.env
*.env

# Base de datos local
db.sqlite3
*.sqlite3

# Archivos de caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de media subidos por los usuarios
/media/

# Archivos estáticos generados para producción
/staticfiles/

# Archivos de logs
*.log

# Carpetas de configuración de editores de código
.vscode/
.idea/
