{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inventario/css/style.css' %}">
</head>
<body>
    <div class="login-wrapper">
        <img src="{% static 'inventario/images/logo.png' %}" alt="Logo La Matutina" class="login-logo">

        <div class="login-container">
            <form method="post">
                {% csrf_token %}

                <h2 style="text-align: center;">Iniciar Sesión</h2>
                <div id="theme-toggle">🌑</div>

                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red; text-align: center;">{{ message }}</p>
                    {% endfor %}
                {% endif %}

                <div class="form-field">
                    <label for="{{ form.username.id_for_label }}">Usuario:</label>
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" class="form-control">
                </div>

                <div class="form-field">
                    <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                    <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control">
                </div>

                <button type="submit">Iniciar sesión</button>

                <p style="text-align: center;">
                    ¿Eres administrador?
                    <a href="{% url 'admin:index' %}">Ingresa al panel de administración</a>.
                </p>
            </form>
        </div>
    </div>

    <script src="{% static 'inventario/js/theme-toggle.js' %}"></script>
</body>
</html>