{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <link rel="stylesheet" href="{% static 'inventario/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'inventario/css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <form method="post">
            {% csrf_token %}

            <h2 style="text-align: center;">Iniciar Sesión de Usuario</h2>
            <div id="theme-toggle">🌑</div>
            <hr>
            
            <div class="form-field">
                <label for="id_username">Usuario:</label>
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            </div>
            
            <div class="form-field">
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" autocomplete="current-password" required id="id_password">
            </div>

            <button type="submit">Entrar</button>

            <p style="text-align: center;">
                ¿Eres administrador? 
                <a href="{% url 'admin:index' %}">Ingresa al panel de administración</a>.
            </p>
        </form>
    </div>

    <script src="{% static 'inventario/js/theme-toggle.js' %}"></script>
</body>
</html>